{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container mt-4">
        <h1 class="my-4 display-6">Delete Moment: '{{ moment.title }}'</h1>

        <div class="form-group">
            <form method="POST">
                <br>
                {% csrf_token %}
                <h2>Are you sure?</h2>
                <button class="btn btn-light">Delete</button>
            </form>
        </div>

        <br><br>
        <a class="btn btn-light" href="{% url 'home-page' %}">Back</a>
    </div>
{% else %}
    <div class="container">
        <p class="lead pt-4">You have no authority to DELETE this page</p>
        <p class="lead">Please Sign In.</p>
    </div>
{% endif %}

{% endblock %}